/* body */
body {
  min-height: 100vh;
  margin: 0;
}
.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: minmax(300px, 1fr) 5fr 2fr;
  grid-template-rows: 1fr 5fr;
}
.sidebar {
  grid-area: 1 / 1 / 4 / 2;
  background-color: brown;
}

.header {
  grid-area: 1 / 2 / 2 / 4;
  background-color: blue;
}

.main-content {
  grid-area: 2 / 2 / 4 / 4;
  background-color: green;
}
